-- schema.sql — MySQL Workbench compatible
-- Charset/engine
SET NAMES utf8mb4;
SET FOREIGN_KEY_CHECKS = 0;

-- Create database (optional)
CREATE DATABASE IF NOT EXISTS spa_comments
  CHARACTER SET utf8mb4
  COLLATE utf8mb4_unicode_ci;
USE spa_comments;

-- =========================
-- Core Django auth/content
-- =========================

CREATE TABLE IF NOT EXISTS django_content_type (
  id BIGINT AUTO_INCREMENT PRIMARY KEY,
  app_label VARCHAR(100) NOT NULL,
  model     VARCHAR(100) NOT NULL,
  CONSTRAINT uq_django_content_type UNIQUE (app_label, model)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

CREATE TABLE IF NOT EXISTS auth_permission (
  id BIGINT AUTO_INCREMENT PRIMARY KEY,
  name         VARCHAR(255) NOT NULL,
  content_type_id BIGINT NOT NULL,
  codename     VARCHAR(100) NOT NULL,
  CONSTRAINT uq_auth_permission UNIQUE (content_type_id, codename),
  CONSTRAINT fk_perm_content_type
    FOREIGN KEY (content_type_id) REFERENCES django_content_type(id)
    ON DELETE RESTRICT ON UPDATE CASCADE,
  INDEX idx_perm_ct (content_type_id),
  INDEX idx_perm_codename (codename)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

CREATE TABLE IF NOT EXISTS auth_group (
  id BIGINT AUTO_INCREMENT PRIMARY KEY,
  name VARCHAR(150) NOT NULL,
  CONSTRAINT uq_auth_group_name UNIQUE (name)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

CREATE TABLE IF NOT EXISTS auth_user (
  id BIGINT AUTO_INCREMENT PRIMARY KEY,
  password     VARCHAR(128) NOT NULL,
  last_login   DATETIME NULL,
  is_superuser TINYINT(1) NOT NULL,
  username     VARCHAR(150) NOT NULL,
  first_name   VARCHAR(150) NOT NULL,
  last_name    VARCHAR(150) NOT NULL,
  email        VARCHAR(254) NOT NULL,
  is_staff     TINYINT(1) NOT NULL,
  is_active    TINYINT(1) NOT NULL,
  date_joined  DATETIME NOT NULL,
  CONSTRAINT uq_auth_user_username UNIQUE (username),
  INDEX idx_auth_user_is_active (is_active),
  INDEX idx_auth_user_is_staff (is_staff)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

CREATE TABLE IF NOT EXISTS auth_group_permissions (
  id BIGINT AUTO_INCREMENT PRIMARY KEY,
  group_id BIGINT NOT NULL,
  permission_id BIGINT NOT NULL,
  CONSTRAINT uq_group_permission UNIQUE (group_id, permission_id),
  CONSTRAINT fk_gp_group
    FOREIGN KEY (group_id) REFERENCES auth_group(id)
    ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT fk_gp_permission
    FOREIGN KEY (permission_id) REFERENCES auth_permission(id)
    ON DELETE RESTRICT ON UPDATE CASCADE,
  INDEX idx_gp_group (group_id),
  INDEX idx_gp_perm  (permission_id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

CREATE TABLE IF NOT EXISTS auth_user_groups (
  id BIGINT AUTO_INCREMENT PRIMARY KEY,
  user_id  BIGINT NOT NULL,
  group_id BIGINT NOT NULL,
  CONSTRAINT uq_user_group UNIQUE (user_id, group_id),
  CONSTRAINT fk_ug_user
    FOREIGN KEY (user_id) REFERENCES auth_user(id)
    ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT fk_ug_group
    FOREIGN KEY (group_id) REFERENCES auth_group(id)
    ON DELETE RESTRICT ON UPDATE CASCADE,
  INDEX idx_ug_user  (user_id),
  INDEX idx_ug_group (group_id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

CREATE TABLE IF NOT EXISTS auth_user_user_permissions (
  id BIGINT AUTO_INCREMENT PRIMARY KEY,
  user_id       BIGINT NOT NULL,
  permission_id BIGINT NOT NULL,
  CONSTRAINT uq_user_permission UNIQUE (user_id, permission_id),
  CONSTRAINT fk_up_user
    FOREIGN KEY (user_id) REFERENCES auth_user(id)
    ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT fk_up_permission
    FOREIGN KEY (permission_id) REFERENCES auth_permission(id)
    ON DELETE RESTRICT ON UPDATE CASCADE,
  INDEX idx_up_user (user_id),
  INDEX idx_up_perm (permission_id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- =========================
-- Django admin/session/migrations
-- =========================

CREATE TABLE IF NOT EXISTS django_admin_log (
  id BIGINT AUTO_INCREMENT PRIMARY KEY,
  action_time   DATETIME NOT NULL,
  object_id     TEXT NULL,
  object_repr   VARCHAR(200) NOT NULL,
  action_flag   SMALLINT NOT NULL,
  change_message LONGTEXT NOT NULL,
  content_type_id BIGINT NULL,
  user_id         BIGINT NOT NULL,
  CONSTRAINT fk_log_ct
    FOREIGN KEY (content_type_id) REFERENCES django_content_type(id)
    ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT fk_log_user
    FOREIGN KEY (user_id) REFERENCES auth_user(id)
    ON DELETE RESTRICT ON UPDATE CASCADE,
  INDEX idx_log_ct (content_type_id),
  INDEX idx_log_user (user_id),
  INDEX idx_log_action_time (action_time)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

CREATE TABLE IF NOT EXISTS django_migrations (
  id BIGINT AUTO_INCREMENT PRIMARY KEY,
  app     VARCHAR(255) NOT NULL,
  name    VARCHAR(255) NOT NULL,
  applied DATETIME NOT NULL,
  INDEX idx_migrations_app_name (app, name),
  INDEX idx_migrations_applied  (applied)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

CREATE TABLE IF NOT EXISTS django_session (
  session_key  VARCHAR(40) PRIMARY KEY,
  session_data LONGTEXT NOT NULL,
  expire_date  DATETIME NOT NULL,
  INDEX idx_session_expire_date (expire_date)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- =========================
-- Your app: commenters/comments/attachments
-- =========================

CREATE TABLE IF NOT EXISTS comments_app_commenter (
  id BIGINT AUTO_INCREMENT PRIMARY KEY,
  username   VARCHAR(32)  NOT NULL,
  email      VARCHAR(254) NOT NULL,
  homepage   VARCHAR(200) NULL,
  created_at DATETIME NOT NULL,
  INDEX idx_commenter_username (username),
  INDEX idx_commenter_email    (email)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

CREATE TABLE IF NOT EXISTS comments_app_comment (
  id BIGINT AUTO_INCREMENT PRIMARY KEY,
  text       LONGTEXT NOT NULL,
  created_at DATETIME NOT NULL,
  parent_id  BIGINT NULL,
  author_id  BIGINT NOT NULL,
  CONSTRAINT fk_comment_parent
    FOREIGN KEY (parent_id) REFERENCES comments_app_comment(id)
    ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT fk_comment_author
    FOREIGN KEY (author_id) REFERENCES comments_app_commenter(id)
    ON DELETE RESTRICT ON UPDATE CASCADE,
  INDEX idx_comment_created_at (created_at),
  INDEX idx_comment_parent     (parent_id),
  INDEX idx_comment_author     (author_id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

CREATE TABLE IF NOT EXISTS comments_app_attachment (
  id BIGINT AUTO_INCREMENT PRIMARY KEY,
  file          VARCHAR(100) NOT NULL,
  file_type     VARCHAR(8)   NOT NULL,
  mime          VARCHAR(100) NOT NULL,
  size_bytes    INT          NOT NULL,
  preview_image VARCHAR(100) NULL,
  created_at    DATETIME     NOT NULL,
  comment_id    BIGINT       NOT NULL,
  CONSTRAINT fk_attachment_comment
    FOREIGN KEY (comment_id) REFERENCES comments_app_comment(id)
    ON DELETE RESTRICT ON UPDATE CASCADE,
  INDEX idx_attachment_comment (comment_id),
  INDEX idx_attachment_created (created_at),
  INDEX idx_attachment_mime    (mime)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

SET FOREIGN_KEY_CHECKS = 1;
